body {
  background-image:
    linear-gradient(rgba(225, 225, 225, 0.936), rgba(225, 225, 225, 0.4)),
    url("imges/masnaaa2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;

  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 200;
}

.logo {
  background-color: #042d4be8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.logo-name {
  align-items: center;
  gap: 0px;
  margin-left: 350px;
}

.logo-name h1 {
  font-size: 7px;
  margin: 9px;
  color: rgba(194, 225, 236, 0.925);

}

.logo-links {
  position: fixed;
  top: 80px;
  left: 25px;

  display: flex;
  flex-direction: column;

  width: 300px;
  
  background-color: #042d4be8;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 12px;
  overflow: hidden;

    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.logo-links.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.logo-links a {

  padding: 18px 22px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  transition: all 0.2s ease;

  color: rgba(194, 225, 236, 0.925);
  text-decoration: none;
  background: rgba(0, 255, 255, 0.08);
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.logo-links a:last-child {
  border-bottom: none;
}

.logo-links a:hover {
  color: #bfdef1f6;
  background-color: #1386cee4;
  background: rgba(0, 255, 255, 0.08);
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.mnue-btn {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 45px;
  height: 45px;

  background-color: #03223aa0;
  color: #06b7fdfa;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;

  z-index: 1000;

  border: 1px solid #2cbee2;
  overflow: hidden;

  background: rgba(0, 255, 255, 0.08);
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.visionguard {
  display: flex;
  padding: 10px 160px;
  align-items: center;
  gap: 0;
  background-color: #03223aa0;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}
.company {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #03223aa0;
  color: rgba(215, 244, 255, 0.984);
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.vision {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #03223aa0;
  color: #ffffff;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.visionp {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #03223aa0;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.buttonvis button {
  display: block;
  margin: auto;
  justify-content: center;
  padding: 15px 160px;
  border: 3px solid #0f95fce3;
  border-radius: 20px;
  background-color: #0f95fce3;
  background-color: #03223ae3;
  color: #ffffff;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.buttonvision button {
  display: block;
  margin: auto;
  justify-content: center;
  padding: 15px 156px;
  border: 3px solid #0f95fce3;
  border-radius: 20px;
  background-color: #51a0dc88;
  background-color: #03223ae3;
  color: #07fe20;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.buttonvis button:hover {
  background-color: #24bbeaad;
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.buttonvision button:hover {
  background-color: #51d7dcad;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.vision-table{
  box-sizing: border-box;
  border: 1px solid #2cbee2;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(21, 81, 105, 0.75);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.15),
  inset 0 0 20px rgba(0, 255, 255, 0.4);
  width: 100%;
  max-width: 800px;

}

.subtitle{
  color: #03223aa0;
  font-size: 6px;
  letter-spacing: 3px;
  margin-top: 1px;
}

.row {
  padding: 22px 25px;
  text-align: right;
  border-bottom: 1px solid rgba(100, 220, 230, 0.35);
  transition: 0.3s;
}

.row :last-child{
  border-bottom: none;
}

.row :hover{
  background: rgba(0, 255, 255, 0.08);
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.08);
}

.title {
  color: hsl(192, 91%, 51%);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9px;
}

.description {
  color: #c8eff5;
  font-size: 16px;
  line-height: 1.7;
}

.description span{
  color: #ffffff;
  font-weight: bold;
}

